@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primereact/resources/themes/lara-light-cyan/theme.css';
@import "primereact/resources/primereact.min.css";

@font-face {
  font-family: 'HyundaiSans';
  src: url('/src/assets/fonts/HyundaiSansTextOffice-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiSans';
  src: url('/src/assets/fonts/HyundaiSansTextOffice-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiSans';
  src: url('/src/assets/fonts/HyundaiSansTextOffice-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}