@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/mira/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@font-face {
	font-family: "HyundaiSans";
	src: url("/src/assets/fonts/HyundaiSansTextOffice-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "HyundaiSans";
	src: url("/src/assets/fonts/HyundaiSansTextOffice-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "HyundaiSans";
	src: url("/src/assets/fonts/HyundaiSansTextOffice-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

/* make PrimeReact radio buttons unhidden  */
.p-radiobutton .p-radiobutton-input {
	opacity: 1;
	appearance: auto;
}

.selected-row {
	background-color: #f0f8ff !important;
}

.p-button {
	width: 2.85em;
	background-color: #002a50;
	color: white;
}

.p-button:hover {
	opacity: 0.9;
}

.p-menu .p-submenu-header {
	padding: 0;
	margin-bottom: 0.25em;
}

@media (max-width: 900px) {
	.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
		padding: 0.5em 0.8em;
	}
}